@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --graphite-base: #121212;
  --snow-base: #D8D8D8;
  --snow-dark: #74747B;
}

body {
  @apply bg-graphite-base text-snow-base;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove text selection styles */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

@keyframes bounce-gentle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

.hover-bounce {
  transition: all 0.3s ease;
}

.hover-bounce:hover {
  animation: bounce-gentle 0.8s ease-in-out;
  color: var(--snow-dark);
}
